__pycache__/
*.py[cod]
*$py.class
*.so
.python-version

*.csv

.venv/
venv/
env/
__pycache__/

.vscode/

models/*.pt
models/*.pth
models/*.bin
models/*.ckpt
models/*.joblib
models/distilbert_tokenizer/

.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

.DS_Store
Thumbs.db

logs/
models/*.joblib
reports/*.json

data/processed/*
!data/.gitkeep
